go 1.21.0

use (
	"./01 hello"
	./010slices
	./02variables
	./03userinput
	./04conversion
	./06mytime
	./07pointers
	./08myArray
	./09slices
	./11myMaps
	./12structs
	./13ifelse
	./14switchCase
	./15loops
	./16functions
	./17methods
	./18defer
	./19files
	./20handlingRequest
	./21handlingURL
)
